:root {
  --border-1: black;
  --border-2: gray;
  --bg: aliceblue;
  --bg-selected: royalblue;
  --bg-disabled: beige;
  --bg-hover: #d6e1ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.game-title {
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.game-title h1 {
  font-weight: 500;
  font-size: 18px;
}

.button {
  border-radius: 8px;
  box-shadow: 0px 0x 4px black;
}

.inputs-app {
  width: 100%;
  max-width: 30rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
}

.actions-app {
  width: 100%;
  max-width: 30rem;
  height: 44px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.inputs-app .button {
  border: 1px solid #4169e1;
  background: #4169e10a;
}

.erase::before {
  content: "effacer";
}
.erase {
  border: 1px solid red;
  background: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game::before {
  content: "nouvelle partie";
}
.new-game {
  border: 1px solid green;
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-app .square-span {
  border-radius: 12px;
}

.inputs-app .square-span.disabled {
  cursor: default;
  border: none;
  background: transparent;
}

.main-app {
  width: 100%;
  max-width: 30rem;
  height: fit-content;
  border: 1px solid var(--border-1);
  background: var(--border-1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.square {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--border-1);
  background: var(--border-2);
  inset: 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
}

.square-span {
  background: var(--bg);
  inset: 1px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.square-span.selected {
  border: 1px solid transparent;
  cursor: default;
  background: var(--bg-selected);
  color: white;
  font-weight: bold;
}

.square-span.disabled {
  cursor: default;
  background: var(--bg-disabled);
}

.square-span:not(.disabled):not(.selected) {
  cursor: pointer;
  font-weight: bold;
  color: royalblue;
}